*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:url(asset/desktopWall.jpg) ;
    background-repeat: no-repeat;
    background-position :center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover ;
    
}
header {
    position: absolute;
    top:0px;
    background-color: gray;
    height: 5vh;
    width: 100%;
}
footer{
    position: absolute;
    bottom:0px;
    background-color: gray;
    height: 10vh;
    width: 100%;
}
.container{
    background-color: white;
    border-radius: 10px;
    padding: 50px;

}
#icons{
    height: 50px;
    width: 50px;
}
#icon{
    height: 25px;
    width: 25px;
}